<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>User </th>
        <th>name</th>
        <th>username</th>
        <th>email</th>
        <th>phone</th>
        <th>website</th>
        <th>address</th>
        <th>company</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.address.street}}, {{user.address.suite}}, {{user.address.city}}</td>
        <td>{{user.company.name}}, {{user.company.catchPhrase}}, {{user.company.bs}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
